<md-dialog>
    <md-dialog-content class="layout-column layout-padding">
        <h3 class="dialog-heading" translate>Are you sure you want to delete this category?</h3>
    </md-dialog-content>
    <md-dialog-actions>
        <button id="lsp-documents--confirm--category-delete-confirm--cancel" class="app-button app-button--raised" data-ng-click="ctrl.keepCategory()" translate>Keep Category</button>
        <button id="lsp-documents--confirm--category-delete-confirm--submit" class="app-button app-button--raised app-button--warn" ng-click="ctrl.deleteCategory()" translate>Delete Category</button>
    </md-dialog-actions>
</md-dialog>