<md-dialog>
    <md-dialog-content class="layout-column layout-padding">
        <h3 class="dialog-heading" translate>Are you sure you want to delete this tag?</h3>
    </md-dialog-content>
    <md-dialog-actions>
        <button id="lsp-documents--confirm--category-delete-confirm--cancel" class="app-button app-button--raised" data-ng-click="ctrl.keepTag()" translate>Keep Tag</button>
        <button id="lsp-documents--confirm--category-delete-confirm--submit" class="app-button app-button--raised app-button--warn" ng-click="ctrl.deleteTag()" translate>Delete Tag</button>
    </md-dialog-actions>
</md-dialog>